<h4>HOW BANK TRANSFER WORKS</h4>
<b>Steps:</b>
<p>1. Deposit order value in one of the below mentioned Bank Accounts. After this payment a reference number will be provided by the bank.</p>
<% if (banks = Spree::Bank.active).any? %>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Account No</th>
    </tr>
    <% banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.account_no %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br>
2. Enter this payment reference number on Order Details page by following steps:<br><br>

a) Select "My Account" from top right corner. <br>
b) Click on the Order number. <br>
c) Click on "Add Details" link visible in "Payment Information" column. <br>
d) Provide payment details and Submit.
<br><br>
<%= image_tag 'payment_details.png' %>




