<%= link_to "How it works?", bank_transfer_instructions_path, :id => 'banktransfer_instructions', :target => "_blank" %>
<br><br>
<% if (banks = Spree::Bank.active).any? %>
  <table>
    <tr>
      <th>Name</th>
      <th>Account No</th>
    </tr>
    <% banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.account_no %></td>
      </tr>
    <% end %>
  </table>
<% end %>