/*
*= require jquery-ui/datepicker
*/

.bt_payment_form { margin-left: -10px; }
.bt_payment_form table { border-collapse: inherit; }
.bt_payment_form [type="submit"] { margin-left: 10px; }
.bt_payment_form input[type="text"], .bt_payment_form input[type="date"] { width: 138px; }
.hidden { display: none; }
